

.actionBar {
  margin: 1em 0 0 0;
}

.diffTable th {
  text-align: left;
}

.diffTable td {
  vertical-align: top;
  padding: 1em;
}

.diffRow:hover {
  background-color:#f4f4f4;
}

div.propValueContainer {
  max-width: 450px;
  vertical-align: inherit;
  overflow-wrap: break-word;
}